.card-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 5px 10px rgb(219, 219, 219);
    margin-bottom: 20px;
   
}
.card-template{
    background-image: linear-gradient(rgb(229, 223, 236), rgb(247, 195, 53));
    color: rgb(0, 0, 0);
    height: 250px;
    width: 325px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.card-page {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    padding-top: 20px;
   

}

.scorecard-messagegroup {
    
}
   

