nav{

.home-navbar{
    height: 50px;
    background-color: honeydew;
}
    .nav-link-styling{
        padding-top: 10px;
        padding-left: 350px;
        padding-right: 350px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
        list-style-type: none;
        
    }
    li a{
        text-decoration: none;
        color: black;
    }
    li:hover{
        border-top-style: none;
        border-bottom-style: solid;
        border-right-style: none;
        border-left-style: none;
        border-bottom-color: orange;
    }
    Link:hover{
        color:orange
    }

}